Today we'll cover:

1. [Reading and writing text](#Reading-and-writing-text)
2. [Reading from databases](#Reading-from-databases)
3. [Reading from web APIs](#Reading-from-web-APIs)

# Reading and writing text

The 2 main reading & writing functions in pandas we will discuss are:

* `read_csv()` to read comma separated data (we saw this in the last lecture)
* `to_csv()` to write comnna separated data

But before we get into the details of these, let us create some data files first.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([['German', 1777, 1855],
                   ['Swiss', 1707, 1783],
                   ['French', 1736, 1813],
                   ['French', 1749, 1827]],
                  index=['Gauss', 'Euler', 'Lagrange', 'Laplace'],
                  columns=['Nationality', 'Born', 'Died'])
df.index.name = 'Mathematician'
df

              Nationality  Born  Died
Mathematician
Gauss              German  1777  1855
Euler               Swiss  1707  1783
Lagrange           French  1736  1813
Laplace            French  1749  1827

In [3]:
df.to_csv('math.csv')  # export to a csv file

In [4]:
!cat math.csv  # run shell command to examine file

Mathematician,Nationality,Born,Died
Gauss,German,1777,1855
Euler,Swiss,1707,1783
Lagrange,French,1736,1813
Laplace,French,1749,1827

In [5]:
del df  # delete the DataFrame
df = pd.read_csv('math.csv')  # read it back in
df

  Mathematician Nationality  Born  Died
0         Gauss      German  1777  1855
1         Euler       Swiss  1707  1783
2      Lagrange      French  1736  1813
3       Laplace      French  1749  1827

That didn't quite give our original DataFrame back. We need to tell `read_csv` to use the first column (column 0) as the index.

In [6]:
df = pd.read_csv('math.csv', index_col=0)  # use columns 0 as index
df

              Nationality  Born  Died
Mathematician
Gauss              German  1777  1855
Euler               Swiss  1707  1783
Lagrange           French  1736  1813
Laplace            French  1749  1827

We can also save a DataFrame without the header and index.

In [7]:
df.to_csv('math.csv', index=False, header=False)

In [8]:
!cat math.csv

German,1777,1855
Swiss,1707,1783
French,1736,1813
French,1749,1827

In [9]:
df = pd.read_csv('math.csv', names=['Nationality', 'Born', 'Died'])  # read and supply columns names
df.index = ['Gauss', 'Euler', 'Lagrange', 'Laplace']   # supply the index
df.index.name = 'Mathematicians'
df

               Nationality  Born  Died
Mathematicians
Gauss               German  1777  1855
Euler                Swiss  1707  1783
Lagrange            French  1736  1813
Laplace             French  1749  1827

For large files, it might make sense to read them in chunks.

In [10]:
df.to_csv('math.csv')  # save again for index and header
chunks = pd.read_csv('math.csv', chunksize=1)  # chunksize is in no. of lines
french_count = 0
for piece in chunks:
    french_count += (piece['Nationality'].iloc[0] == 'French')
print 'Found %d French mathematicians.' % french_count

Found 2 French mathematicians.

In [11]:
import sys
df.to_csv(sys.stdout, sep=':')  # can use a separator other than comma

Mathematicians:Nationality:Born:Died
Gauss:German:1777:1855
Euler:Swiss:1707:1783
Lagrange:French:1736:1813
Laplace:French:1749:1827

# Reading from databases

Often the data you want to work with resides in a [relational database management system](http://en.wikipedia.org/wiki/Relational_database_management_system) (RDBMS). Some common commerical RDBMS implementations are: Oracle Database, Microsoft SQL server, MySQL and IBM DB2. [SQLite](http://www.sqlite.org/) is a freely available lightweight, disk-based (doesn't require a database server) database engine. In python, the package `sqlite3` provides an interface to SQLite.

SQL (Structured Query Language) is a language used to interact with a database. A quick introduction to SQL can be found here:

http://www.w3schools.com/sql/

The SQL command to create a table in a database is `CREATE` (SQL queries are not case-sensitive: `CREATE` is the same as `create`).

In [12]:
import sqlite3

query = """
CREATE TABLE math
(Mathematician VARCHAR(10),
 Nationality VARCHAR(10),
 Born INTEGER,
 Died INTEGER
);"""

Now that we have created our first query, let us connect to a database and execute the query. In SQLite, databases are stored on disk as files. However, we can create an in-memory database denoted by the special name `:memory:`.

Any query that changes the database, need to be committed to ensure that the change is visible to other connections to the database that might be open at the same time.

In [13]:
con = sqlite3.connect(':memory:')  # connect to an in-memory database
con.execute(query)  # execute the query
con.commit()  # commit the change

We now have an empty table in the `:memory:` database. Let us insert some values into it using the SQL command `INSERT`.

In [14]:
con.execute("INSERT INTO math VALUES('Gauss', 'German', 1777, 1855)")  # insert values
con.commit()  # and commit

At this stage, the table has a single row in it. Let us retrieve contents of the table using the SQL command `SELECT`. The result of executing a `SELECT` command is a *cursor*. You can think of it as an iterator.

In [15]:
cursor = con.execute('SELECT * FROM math')
for row in cursor:
    print row

(u'Gauss', u'German', 1777, 1855)

Let us insert some more values in our table. The `executemany` method is useful for executing many commands for the same type. The placeholder `?` gets replaces by the values supplied in the list argument.

In [16]:
values = [('Euler', 'Swiss', 1707, 1783),
          ('Lagrange', 'French', 1736, 1813),
          ('Laplace', 'French', 1749, 1827)]
con.executemany("INSERT INTO math VALUES(?, ?, ?, ?)", values)
con.commit()

We have seen that a cursor can be used an iterators. If you want one row, you can use the `fetchone()` method. If you you want all rows, you can use the `fetchall()` method.

In [17]:
cursor = con.execute('SELECT * FROM math')
print "Fetching one row..."
print cursor.fetchone()
print "Fetching all remaining rows..."
print cursor.fetchall()

Fetching one row...
(u'Gauss', u'German', 1777, 1855)
Fetching all remaining rows...
[(u'Euler', u'Swiss', 1707, 1783), (u'Lagrange', u'French', 1736, 1813), (u'Laplace', u'French', 1749, 1827)]

Pandas provides a convenient way to convert results of SQL queries in DataFrame objects.

In [18]:
import pandas.io.sql as sql
sql.read_sql('SELECT * FROM math', con)

  Mathematician Nationality  Born  Died
0         Gauss      German  1777  1855
1         Euler       Swiss  1707  1783
2      Lagrange      French  1736  1813
3       Laplace      French  1749  1827

Let us try retrieving only French mathematicians.

In [19]:
sql.read_sql('SELECT * FROM math WHERE Nationality="French"', con)

  Mathematician Nationality  Born  Died
0      Lagrange      French  1736  1813
1       Laplace      French  1749  1827

# Reading from web APIs

We will use the [Twitter Search API](https://dev.twitter.com/rest/public/search) to search for tweets. The API returns results in the [JSON format](http://en.wikipedia.org/wiki/JSON). Recallthat Jupyter notebooks (such as this document!) are also encoded in the JSON format.

But before we can build a search query and execute it on twitter, we need to authenticate. We will use Twitter's [Application-only authentication](https://dev.twitter.com/oauth/application-only). The way this works is:

1. Our (Python) application will encodes its *consumer key* and *consumer secret* into a specially encoded set of credentials.
2. Then the application will make a request to exchange these credentials for a *bearer token*.
3. When accessing the API, our application will use the *bearer token* to authenticate.

Let us work on Step 1.

In [20]:
from urllib2 import urlopen, Request  # to create HTTP requests and open URLs
import base64  # for base64 encoding
import json  # for handling the JSON format

consumer_key = 'dNcn9ZjPJ6dSaXJMYnVgna7jg'  # our app's consumer key
consumer_secret = open('consumer_secret', 'r').read().strip()  # read secret (should not be made public) from file

bearer_token = '%s:%s' % (consumer_key, consumer_secret)
encoded_bearer_token = base64.b64encode(bearer_token.encode('ascii'))  # bearer token needs to be base64 encoded
request = Request('https://api.twitter.com/oauth2/token')
request.add_header('Content-Type',
                   'application/x-www-form-urlencoded;charset=UTF-8')
request.add_header('Authorization',
                   'Basic %s' % encoded_bearer_token.decode('utf-8'))
request_data = 'grant_type=client_credentials'.encode('ascii')
request.add_data(request_data)

Now that we have a Request object ready, let us send our request to get a bearer token to Twitter (Step 2).

In [21]:
response = urlopen(request)  # make the request
raw_data = response.read().decode('utf-8')  # read the raw results in JSON format
data = json.loads(raw_data)  # decode JSON into Python data structures
bearer_token = data['access_token']  # extract the token

We can now use the bearer token to search (Step 3). Let us search for tweets containing "data science".

In [22]:
url = 'https://api.twitter.com/1.1/search/tweets.json?q=data%20science'  # search for "data science"
request = Request(url)
request.add_header('Authorization', 'Bearer %s' % bearer_token)  # use the bearer token from Step 2
response = urlopen(request)  # make the request
raw_data = response.read().decode('utf-8')  # results in raw JSON
data = json.loads(raw_data)  # decode JSON into Python data structures

At this point `data` is a dictionary with just two keys: `search_metadata` and `statuses`. The latter has the tweets inside a Python list.

In [23]:
print data.keys()

[u'search_metadata', u'statuses']

In [24]:
import pprint  # import pretty print module
pprint.pprint(data['statuses'][0])  # print the first tweet, it is a Python dict

{u'contributors': None,
 u'coordinates': None,
 u'created_at': u'Wed Oct 11 14:53:00 +0000 2017',
 u'entities': {u'hashtags': [{u'indices': [20, 22], u'text': u'R'},
                             {u'indices': [30, 38], u'text': u'Tableau'},
                             {u'indices': [50, 56], u'text': u'Julia'},
                             {u'indices': [74, 83], u'text': u'tutorial'},
                             {u'indices': [84, 96], u'text': u'datascience'},
                             {u'indices': [97, 104], u'text': u'data17'},
                             {u'indices': [105, 112], u'text': u'protip'}],
               u'symbols': [],
               u'urls': [{u'display_url': u'bit.ly/2gc3Fgs',
                          u'expanded_url': u'http://bit.ly/2gc3Fgs',
                          u'indices': [113, 136],
                          u'url': u'https://t.co/8gAsDkhkAA'}],
               u'user_mentions': [{u'id': 81433748,
                                   u'id_str': u'81433748',
                                   u'indices': [3, 8],
                                   u'name': u'Alexander Loth',
                                   u'screen_name': u'xlth'}]},
 u'favorite_count': 0,
 u'favorited': False,
 u'geo': None,
 u'id': 918127298032951296,
 u'id_str': u'918127298032951296',
 u'in_reply_to_screen_name': None,
 u'in_reply_to_status_id': None,
 u'in_reply_to_status_id_str': None,
 u'in_reply_to_user_id': None,
 u'in_reply_to_user_id_str': None,
 u'is_quote_status': False,
 u'lang': u'en',
 u'metadata': {u'iso_language_code': u'en', u'result_type': u'recent'},
 u'place': None,
 u'possibly_sensitive': False,
 u'retweet_count': 1,
 u'retweeted': False,
 u'retweeted_status': {u'contributors': None,
                       u'coordinates': None,
                       u'created_at': u'Wed Oct 11 14:52:01 +0000 2017',
                       u'entities': {u'hashtags': [{u'indices': [10, 12],
                                                    u'text': u'R'},
                                                   {u'indices': [20, 28],
                                                    u'text': u'Tableau'},
                                                   {u'indices': [40, 46],
                                                    u'text': u'Julia'},
                                                   {u'indices': [64, 73],
                                                    u'text': u'tutorial'},
                                                   {u'indices': [74, 86],
                                                    u'text': u'datascience'},
                                                   {u'indices': [87, 94],
                                                    u'text': u'data17'},
                                                   {u'indices': [95, 102],
                                                    u'text': u'protip'}],
                                     u'symbols': [],
                                     u'urls': [{u'display_url': u'twitter.com/i/web/status/9\u2026',
                                                u'expanded_url': u'https://twitter.com/i/web/status/918127050124296192',
                                                u'indices': [104, 127],
                                                u'url': u'https://t.co/203OyGmnXk'}],
                                     u'user_mentions': []},
                       u'favorite_count': 1,
                       u'favorited': False,
                       u'geo': None,
                       u'id': 918127050124296192,
                       u'id_str': u'918127050124296192',
                       u'in_reply_to_screen_name': None,
                       u'in_reply_to_status_id': None,
                       u'in_reply_to_status_id_str': None,
                       u'in_reply_to_user_id': None,
                       u'in_reply_to_user_id_str': None,
                       u'is_quote_status': False,
                       u'lang': u'en',
                       u'metadata': {u'iso_language_code': u'en',
                                     u'result_type': u'recent'},
                       u'place': None,
                       u'possibly_sensitive': False,
                       u'retweet_count': 1,
                       u'retweeted': False,
                       u'source': u'<a href="http://www.everyonesocial.com" rel="nofollow">EveryoneSocial</a>',
                       u'text': u'Learn how #R allows #Tableau to execute #Julia code on the fly! #tutorial #datascience #data17 #protip\u2026 https://t.co/203OyGmnXk',
                       u'truncated': True,
                       u'user': {u'contributors_enabled': False,
                                 u'created_at': u'Sat Oct 10 20:21:58 +0000 2009',
                                 u'default_profile': False,
                                 u'default_profile_image': False,
                                 u'description': u'Co-founder @FuturaAnalytics | Digital Strategist @Tableau | I guide organizations to evolve their data-driven culture #DataScience #DigitalTransformation',
                                 u'entities': {u'description': {u'urls': []},
                                               u'url': {u'urls': [{u'display_url': u'alexloth.com',
                                                                   u'expanded_url': u'http://alexloth.com',
                                                                   u'indices': [0,
                                                                                23],
                                                                   u'url': u'https://t.co/nKxPKzmpLN'}]}},
                                 u'favourites_count': 70220,
                                 u'follow_request_sent': None,
                                 u'followers_count': 7839,
                                 u'following': None,
                                 u'friends_count': 5635,
                                 u'geo_enabled': True,
                                 u'has_extended_profile': True,
                                 u'id': 81433748,
                                 u'id_str': u'81433748',
                                 u'is_translation_enabled': False,
                                 u'is_translator': False,
                                 u'lang': u'en',
                                 u'listed_count': 256,
                                 u'location': u'Frankfurt, Germany',
                                 u'name': u'Alexander Loth',
                                 u'notifications': None,
                                 u'profile_background_color': u'000000',
                                 u'profile_background_image_url': u'http://abs.twimg.com/images/themes/theme13/bg.gif',
                                 u'profile_background_image_url_https': u'https://abs.twimg.com/images/themes/theme13/bg.gif',
                                 u'profile_background_tile': False,
                                 u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/81433748/1444308969',
                                 u'profile_image_url': u'http://pbs.twimg.com/profile_images/863805167568789504/2-CSKToy_normal.jpg',
                                 u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/863805167568789504/2-CSKToy_normal.jpg',
                                 u'profile_link_color': u'3B94D9',
                                 u'profile_sidebar_border_color': u'000000',
                                 u'profile_sidebar_fill_color': u'000000',
                                 u'profile_text_color': u'000000',
                                 u'profile_use_background_image': False,
                                 u'protected': False,
                                 u'screen_name': u'xlth',
                                 u'statuses_count': 1730,
                                 u'time_zone': u'Rome',
                                 u'translator_type': u'none',
                                 u'url': u'https://t.co/nKxPKzmpLN',
                                 u'utc_offset': 7200,
                                 u'verified': False}},
 u'source': u'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 u'text': u'RT @xlth: Learn how #R allows #Tableau to execute #Julia code on the fly! #tutorial #datascience #data17 #protip https://t.co/8gAsDkhkAA ht\u2026',
 u'truncated': False,
 u'user': {u'contributors_enabled': False,
           u'created_at': u'Tue Oct 10 10:09:33 +0000 2017',
           u'default_profile': True,
           u'default_profile_image': False,
           u'description': u'#Tableau Tips, Tricks and Vizzes',
           u'entities': {u'description': {u'urls': []}},
           u'favourites_count': 48,
           u'follow_request_sent': None,
           u'followers_count': 25,
           u'following': None,
           u'friends_count': 181,
           u'geo_enabled': False,
           u'has_extended_profile': False,
           u'id': 917693576909385728,
           u'id_str': u'917693576909385728',
           u'is_translation_enabled': False,
           u'is_translator': False,
           u'lang': u'en',
           u'listed_count': 1,
           u'location': u'Seattle, WA',
           u'name': u'Tableau Tips&Vizzes',
           u'notifications': None,
           u'profile_background_color': u'F5F8FA',
           u'profile_background_image_url': None,
           u'profile_background_image_url_https': None,
           u'profile_background_tile': False,
           u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/917693576909385728/1507630606',
           u'profile_image_url': u'http://pbs.twimg.com/profile_images/917695258678517760/4WXb4ZgR_normal.jpg',
           u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/917695258678517760/4WXb4ZgR_normal.jpg',
           u'profile_link_color': u'1DA1F2',
           u'profile_sidebar_border_color': u'C0DEED',
           u'profile_sidebar_fill_color': u'DDEEF6',
           u'profile_text_color': u'333333',
           u'profile_use_background_image': True,
           u'protected': False,
           u'screen_name': u'TableauTipsViz',
           u'statuses_count': 13,
           u'time_zone': None,
           u'translator_type': u'none',
           u'url': None,
           u'utc_offset': None,
           u'verified': False}}

In [25]:
# Extract the text and created_at fields and convert in pandas DataFrame
tweets_df = pd.DataFrame(data['statuses'], columns=['created_at', 'text'])
tweets_df

,created_at,text
0,Wed Oct 11 14:53:00 +0000 2017,RT @xlth: Learn how #R allows #Tableau to exec...
1,Wed Oct 11 14:52:32 +0000 2017,RT @machinelearnbot: A Simple Introduction To ...
2,Wed Oct 11 14:52:11 +0000 2017,"#DSX, #PowerAI, #datascience, #deeplearning #A..."
3,Wed Oct 11 14:52:01 +0000 2017,Learn how #R allows #Tableau to execute #Julia...
4,Wed Oct 11 14:51:49 +0000 2017,RT @AthertonKD: Read me in @politico on JIEDDO...
5,Wed Oct 11 14:51:40 +0000 2017,[Cheat Sheet] Python Basics For Data Science h...
6,Wed Oct 11 14:51:17 +0000 2017,@rqmacasieb Data Science kyeme :) May pa-cours...
7,Wed Oct 11 14:50:18 +0000 2017,"Recommended read on @Medium: “O que foi a ""Eme..."
8,Wed Oct 11 14:50:16 +0000 2017,RT @HarvardBiz: Understanding the science of i...
9,Wed Oct 11 14:50:05 +0000 2017,#AI Is Changing The Way We Look At Data Scienc...
10,Wed Oct 11 14:50:00 +0000 2017,RT @IoTRecruiting: #DataScience Is Not All Abo...
11,Wed Oct 11 14:49:42 +0000 2017,RT @DATAFYiNG: 17 Ultimate Data Science Projec...
12,Wed Oct 11 14:49:41 +0000 2017,RT @Ronald_vanLoon: Top 10 Data Science Influe...
13,Wed Oct 11 14:48:41 +0000 2017,RT @Ronald_vanLoon: 50+ Free Data Science Book...
14,Wed Oct 11 14:48:14 +0000 2017,"Data Science, it’s what’s for dinner! #data17 ..."

In [26]:
url = 'https://api.twitter.com/1.1/search/tweets.json?q=%23datascience'  # search for the hashtag #datascience
request = Request(url)
request.add_header('Authorization', 'Bearer %s' % bearer_token)  # use the bearer token from Step 2
response = urlopen(request)  # make the request
raw_data = response.read().decode('utf-8')  # results in raw JSON
data = json.loads(raw_data)  # decode JSON into Python data structures
hashtag_tweets_df = pd.DataFrame(data['statuses'], columns=['created_at', 'text'])
hashtag_tweets_df

,created_at,text
0,Wed Oct 11 14:53:32 +0000 2017,RT @antgrasso: Introduction to #MachineLearnin...
1,Wed Oct 11 14:53:16 +0000 2017,.@markyoung_ag sits down with @markets to disc...
2,Wed Oct 11 14:53:00 +0000 2017,RT @xlth: Learn how #R allows #Tableau to exec...
3,Wed Oct 11 14:52:30 +0000 2017,RT @moorejh: The #Python graph library https:/...
4,Wed Oct 11 14:52:25 +0000 2017,RT @GaryDower: #Python for #BigData in One Pic...
5,Wed Oct 11 14:52:11 +0000 2017,"#DSX, #PowerAI, #datascience, #deeplearning #A..."
6,Wed Oct 11 14:52:01 +0000 2017,Learn how #R allows #Tableau to execute #Julia...
7,Wed Oct 11 14:51:40 +0000 2017,RT @ana_valdi: A very first analysis evaluatin...
8,Wed Oct 11 14:51:14 +0000 2017,RT @ana_valdi: A very first analysis evaluatin...
9,Wed Oct 11 14:51:10 +0000 2017,RT @IBMAnalytics: Companies are “all in” on #D...
10,Wed Oct 11 14:51:05 +0000 2017,RT @antgrasso: 4 barriers to #DigitalTransform...
11,Wed Oct 11 14:50:48 +0000 2017,RT @PetiotEric: [ #IoT]\nInternet of Everythin...
12,Wed Oct 11 14:50:30 +0000 2017,The latest The Big data Daily! https://t.co/Zb...
13,Wed Oct 11 14:50:20 +0000 2017,"RT @IBMAnalytics: Is ""Data Scientist"" a role o..."
14,Wed Oct 11 14:50:14 +0000 2017,@UniofOxford the free Intel Code Modernization...

In [27]:
# clean up temporary files in the end
!rm math.csv